body{
    background-image: url("../imagenes/exportar-01.jpg");
     width: 100%;
     height: auto;
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
  
  }